@import url('https://fonts.googleapis.com/css2?family=Birthstone+Bounce:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Birthstone+Bounce:wght@500&family=Indie+Flower&family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Birthstone+Bounce:wght@500&family=Indie+Flower&family=Patua+One&display=swap');


body {
    background-color: cornsilk;
}

.heading1 {
    text-align: center;
    font-family: 'Birthstone Bounce', cursive;
    font-size: 3rem;
    color: rgb(75, 75, 0);
}

@keyframes logoROTATE {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(180deg);
    }
    
}

.generaltext {
    font-size: 1rem;
    font-family: 'Patua One', cursive;
    color: rgb(75, 33, 3);
}

.logo {
    text-align: center;
    font-family: 'Patua One', cursive;
    position: relative;
    animation: logoROTATE;
    animation-duration: 6s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes logoROTATE {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}


.tabelmenu {
    width: 800px;
    border-color: dimgray;
    margin: auto;
    font-size: 2rem;
}

.info div {
    height: 150px;
    width: 150px;
    border: 7px solid black;
    border-radius: 45%;
    margin: 2rem auto;
}

.retsept1 {
    text-align: center;
    color: black;
    font-family: 'Indie Flower', cursive;
    font-size: 2rem;
}

.info {
    margin: auto;
}

.main {
    border: 7px solid;
    color: rgb(0, 0, 0);
    opacity: 0;
    position: relative;
    animation: MAIN;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes MAIN {
    0% {right: -2000px; opacity: 0;}
    100% {right: 0px; opacity: 1;}
}

.ra {
    vertical-align: top;
    text-align: left;
    margin: 0 auto;
    color: black;
}

.makaronid {
    width: 500px;
}

#a {
    color: black;
    font-family: 'Patua One', cursive;
    position: relative;
    animation: a;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes a {
    0% {top: 0px;}
    10% {top: -30px;}
    20% {top: 0px; ;}
    100% {top: 0px; transform: rotate(360deg)}
}

#b {
    color: black;
    font-family: 'Patua One', cursive;
    position: relative;
    animation: b;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes b {
    0% {top: 0px;}
    10% {top: -30px;}
    20% {top: 0px; ;}
    100% {top: 0px; transform: rotate(360deg)}
}

#c {
    color: black;
    font-family: 'Patua One', cursive;
    position: relative;
    animation: c;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes c {
    0% {top: 0px;}
    10% {top: -30px;}
    20% {top: 0px; ;}
    100% {top: 0px; transform: rotate(360deg)}
}

#d {
    color: black;
    font-family: 'Patua One', cursive;
}

.footer {
    text-align: center;
    font-family: 'Patua One', cursive;
}